<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="https://www.springframework.org/schema/beans"
	xmlns:context="https://www.springframework.org/schema/context"
	xmlns:tx="https://www.springframework.org/schema/tx"
	xmlns:xsi="https://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="https://www.springframework.org/schema/beans
		https://www.springframework.org/schema/beans/spring-beans-4.3.xsd
		https://www.springframework.org/schema/context
		https://www.springframework.org/schema/context/spring-context-4.3.xsd
		https://www.springframework.org/schema/tx
		https://www.springframework.org/schema/tx/spring-tx-4.3.xsd">

	<context:property-placeholder location="/WEB-INF/conf/macloud.properties"/>
	<context:annotation-config/>
	<!-- Cache Start -->
	<!-- Cache End -->
	<!-- Cache Start -->
	<!-- Cache End -->
	<!-- Data source Start -->
	<bean id="myDataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="${datasource.driver}"/>
		<property name="url" value="${datasource.jdbcurl}"/>
		<property name="username" value="${datasource.username}"/>
		<property name="password" value="${datasource.password}"/>
	</bean>
	<bean id="hibernateJpaVendorAdapter" class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter">
        <property name="database" value="${datasource.database}" />
        <property name="databasePlatform" value="${datasource.database}" />
        <property name="showSql" value="${datasource.showsql}" />
        <property name="generateDdl" value="${datasource.hbm2ddl}" />
    </bean>
    <bean id="hibernateJpaDialect" class="org.springframework.orm.jpa.vendor.HibernateJpaDialect" />
	<bean id="entityManagerFactory"
		class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
		<property name="jpaVendorAdapter" ref="hibernateJpaVendorAdapter"/>
		<property name="packagesToScan" value="cc.macloud.**.entity"/>
		<property name="dataSource" ref="myDataSource"/>
	</bean>

	<!-- Transactions -->
	<bean id="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager">
		<property name="entityManagerFactory" ref="entityManagerFactory" />
	</bean>
	<!-- enable the configuration of transactional behavior based on annotations -->
	<tx:annotation-driven transaction-manager="transactionManager" />
	<!-- Data source End -->
	<!-- Service End -->
	<!-- Remote Start -->
	<!-- Remote End -->
	<!-- Batch Job Start -->
	<!-- Batch Job End -->

</beans>