<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans https://www.springframework.org/schema/beans/spring-beans-4.3.xsd
		http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context-4.3.xsd
		http://www.springframework.org/schema/tx https://www.springframework.org/schema/tx/spring-tx-4.3.xsd">

	<context:property-placeholder location="/conf/macloud.properties"/>
	<context:annotation-config/>
	<!-- Cache Start -->
	<!-- Cache End -->
	<!-- Data source Start -->
	<bean id="myDataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName"><value>${datasource.driver}</value></property>
		<property name="url"><value>${datasource.jdbcurl}</value></property>
		<property name="username"><value>${datasource.username}</value></property>
		<property name="password"><value>${datasource.password}</value></property>
	</bean>
	<bean id="jpaVendorAdapter" class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter">
		<!-- <property name="database"><value>${datasource.database}</value></property>
		<property name="databasePlatform"><value>${datasource.database}</value></property>
		<property name="showsql"><value>${datasource.showsql}</value></property> -->
		<property name="generateDdl"><value>${datasource.hbm2ddl}</value></property>
    </bean>
    <bean id="hibernateJpaDialect" class="org.springframework.orm.jpa.vendor.HibernateJpaDialect" />
	<bean id="entityManagerFactory" class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
		<property name="jpaVendorAdapter" ref="jpaVendorAdapter"/>
		<property name="dataSource" ref="myDataSource"/>
		<property name="packagesToScan"><value>cc.macloud.**.entity</value></property>
	</bean>

	<!-- Transactions -->
	<bean id="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager">
		<property name="entityManagerFactory" ref="entityManagerFactory" />
	</bean>
	<!-- enable the configuration of transactional behavior based on annotations -->
	<tx:annotation-driven transaction-manager="transactionManager" />
	<!-- <bean id="nativeJdbcExtractor"
	class="org.springframework.jdbc.support.nativejdbc.SimpleNativeJdbcExtractor"/> -->
	<!-- <bean id="lobHandler" class="org.springframework.jdbc.support.lob.DefaultLobHandler"
	lazy-init="false"/> -->

	<!-- Data source End -->
	<!-- Service End -->
	<!-- Remote Start -->
	<!-- Remote End -->
	<!-- Batch Job Start -->
	<!-- Batch Job End -->
</beans>