<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="
	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd   
	http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
	http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.3.xsd
	http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.3.xsd
	">

	<!-- account -->
	<bean id="permissionDao" parent="daoTemplate" class="com.showmoney.core.common.dao.impl.HibernateObjectDaoImpl">
		<property name="className" value="com.showmoney.core.account.entity.Permission"/>
	</bean>
	<bean id="permissionService" class="com.showmoney.core.account.service.impl.PermissionServiceImpl">
		<property name="dao" ref="permissionDao"/>
	</bean>
	<bean id="roleDao" parent="daoTemplate" class="com.showmoney.core.common.dao.impl.HibernateObjectDaoImpl">
		<property name="className" value="com.showmoney.core.account.entity.Role"/>
	</bean>
	<bean id="roleService" class="com.showmoney.core.account.service.impl.RoleServiceImpl">
		<property name="dao" ref="roleDao"/>
	</bean>
	<bean id="groupDao" parent="daoTemplate" class="com.showmoney.core.common.dao.impl.HibernateObjectDaoImpl">
		<property name="className" value="com.showmoney.core.account.entity.Group"/>
	</bean>
	<bean id="groupService" class="com.showmoney.core.account.service.impl.GroupServiceImpl">
		<property name="dao" ref="groupDao"/>
	</bean>
	<bean id="sidebarDao" parent="daoTemplate" class="com.showmoney.core.common.dao.impl.HibernateObjectDaoImpl">
		<property name="className" value="com.showmoney.core.account.entity.Sidebar"/>
	</bean>
	<bean id="sidebarService" class="com.showmoney.core.account.service.impl.SidebarServiceImpl">
		<property name="dao" ref="sidebarDao"/>
	</bean>
	<bean id="passwordEncoder" class="org.springframework.security.crypto.bcrypt.BCryptPasswordEncoder"/>
	<bean id="userDao" parent="daoTemplate" class="com.showmoney.core.account.dao.impl.UserDaoImpl"/>
	<bean id="userService" class="com.showmoney.core.account.service.impl.UserServiceImpl">
		<property name="dao" ref="userDao"/>
	</bean>
	<!-- batchjob 
	<bean id="batchJobDao" parent="daoTemplate" class="com.showmoney.core.common.dao.impl.HibernateObjectDaoImpl">
		<property name="className" value="com.showmoney.core.batch.entity.BatchJob"/>
	</bean>
	<bean id="batchJobService" class="com.showmoney.core.batch.service.impl.BatchJobServiceImpl">
		<property name="dao" ref="batchJobDao"/>
	</bean>	-->
	<!-- mail -->
	<bean id="mailDao" parent="daoTemplate" class="com.showmoney.core.common.dao.impl.HibernateObjectDaoImpl">
		<property name="className" value="com.showmoney.core.message.entity.Mail"/>
	</bean>
	<bean id="mailService" class="com.showmoney.core.message.service.impl.MailServiceImpl">
		<property name="dao" ref="mailDao"/>
	</bean>
	<!-- common -->
	<bean id="menuDao" parent="daoTemplate" class="com.showmoney.core.common.dao.impl.HibernateObjectDaoImpl">
		<property name="className" value="com.showmoney.core.common.entity.Menu"/>
	</bean>
	<bean id="menuService" class="com.showmoney.core.common.service.impl.MenuServiceImpl">
		<property name="dao" ref="menuDao"/>
	</bean>
	<bean id="velocityService" class="com.showmoney.core.common.service.impl.VelocityServiceImpl"/>
	<bean id="threadService" class="com.showmoney.core.common.service.impl.ThreadServiceImpl"/>
</beans>